<h5>Add note</h5>

<%= form_for(@note) do |f| %>

	    <div class="field">
	    	<%= f.label :appearance %>
	    	<%= f.text_field :appearance %>
	    </div>

	    <div class="field">
	    	<%= f.label :nose %>
	    	<%= f.text_field :nose %>
	    </div>

	    <div class="field">
	    	<%= f.label :palate %>
	    	<%= f.text_field :palate %>
	    </div>

	    <div class="field">
	    	<%= f.label :conclusion %>
	    	<%= f.text_field :conclusion %>
	    </div>

	    <div class="field">
	    	<%= f.label :maturity %>
	    	<%= f.text_field :maturity %>
	    </div>

	    <div class="field">
	    	<%= f.label :rating %>
	    	<%= f.text_field :rating %>
	    </div>

	    <div class="field">
	    	<%= label_tag 'quantity drunk' %>
	    	<%= text_field_tag 'bottle[quantity]' %>
	    </div>

	    <div class="actions">
	      <%= f.submit "Add note" %>
	    </div>

	<%= token_tag %>

<% end %>