<!-- Rendered in wines/new -->
<div class="row">
	<div class="small-6 columns small-offset-3 text-center">			
		<div id="">
			<%= form_for(@wine) do |f| %>
				<div class="userForm">
				
					<h3>Add wine</h3>

				    <div class="field" id="textInput">
				    	<%= f.label :style %>
				    	<%= f.select :style , ['Sparkling', 'White' , 'Rosé' , 'Red' , 'Sweet'] %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :producer %>
				    	<%= f.text_field :producer %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :name %>
				    	<%= f.text_field :name %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :vintage %>
				    	<%= f.text_field :vintage %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :region %>
				    	<%= f.text_field :region %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :country %>
				    	<%= f.text_field :country %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :grape %>
				    	<%= f.text_field :grape %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :alcohol %>
				    	<%= f.text_field :alcohol %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :window_start , "Drinking start date" %>
				    	<%= f.text_field :window_start %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= f.label :window_end , "Drinking end date" %>
				    	<%= f.text_field :window_end %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= label_tag 'vendor' %>
				    	<%= text_field_tag 'vendor' %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= label_tag 'price (£)' %>
				    	<%= text_field_tag 'price' %>
				    </div>

				    <div class="field" id="textInput">
				    	<%= label_tag 'quantity' %>
				    	<%= text_field_tag 'bottle[quantity]' %>
				    </div>

				    <div class="actions" id="submitButtonContainer">
				      <%= f.submit "Add wine", :class => 'submitButton' %>
				    </div>
					<%= token_tag %>
				</div>	
			<% end %>
		</div>
	</div>
</div>