<div class="row" id="">
  	<div class="small-12 columns">
			<div id="">
			

<%= form_for :note, :url => {action: 'wine_note_new', controller: 'notes'} do |f| %>
		<div class="userForm">
			<h5>Add note</h5>
		    <div class="field" id="textInput">
		    	<%= f.label :appearance %>
		    	<%= f.text_area :appearance %>
		    </div>

		    <div class="field" id="textInput">
		    	<%= f.label :nose %>
		    	<%= f.text_area :nose %>
		    </div>

		    <div class="field" id="textInput">
		    	<%= f.label :palate %>
		    	<%= f.text_area :palate %>
		    </div>
	    
		    <div class="field" id="textInput">
		    	<%= f.label :conclusion %>
		    	<%= f.text_area :conclusion %>
		    </div>

		    <div class="field" id="textInput">
		    	<%= f.label :maturity %>
		    	<%= f.select :rating , ['Too young', 'Can drink now, will improve' , 'Drink now' , 'Too old'] %>
		    </div>

		    <div class="field" id="textInput">
		    	<%= f.label :rating %>
		    	<%= f.select :rating , ['1', '2' , '3' , '4' , '5' , '6' , '7' , '8' , '9' , '10'] %>
		    </div>

		    <div class="actions">
		      <%= f.submit "Add note", :class => 'submitButton'%>
		    </div>
	    </div>

	<%= token_tag %>

<% end %>

</div>
</div>
</div>