<h5>Add wine</h5>

<table>
	<div class="large-3 medium-12 small-12 columns">
		<%= form_for(@wine) do |f| %>

	    <div class="field">
	    	<%= f.label :style %>
	    	<%= f.select :style , ['Sparkling', 'White' , 'Rosé' , 'Red' , 'Sweet'] %>
	    </div>

	    <div class="field">
	    	<%= f.label :producer %>
	    	<%= f.text_field :producer %>
	    </div>

	    <div class="field">
	    	<%= f.label :name %>
	    	<%= f.text_field :name %>
	    </div>

	    <div class="field">
	    	<%= f.label :vintage %>
	    	<%= f.text_field :vintage %>
	    </div>

	    <div class="field">
	    	<%= f.label :region %>
	    	<%= f.text_field :region %>
	    </div>

	    <div class="field">
	    	<%= f.label :country %>
	    	<%= f.text_field :country %>
	    </div>

	    <div class="field">
	    	<%= f.label :grape %>
	    	<%= f.text_field :grape %>
	    </div>


	    <div class="field">
	    	<%= f.label :alcohol %>
	    	<%= f.text_field :alcohol %>
	    </div>

	    <div class="field">
	    	<%= f.label :window_start , "Drinking start date" %>
	    	<%= f.text_field :window_start %>
	    </div>

	    <div class="field">
	    	<%= f.label :window_end , "Drinking end date" %>
	    	<%= f.text_field :window_end %>
	    </div>

	    <div class="field">
	    	<%= label_tag 'vendor' %>
	    	<%= text_field_tag 'vendor' %>
	    </div>

	    <div class="field">
	    	<%= label_tag 'price (£)' %>
	    	<%= text_field_tag 'price' %>
	    </div>

	    <div class="field">
	    	<%= label_tag 'quantity' %>
	    	<%= text_field_tag 'bottle[quantity]' %>
	    </div>

	    <div class="actions">
	      <%= f.submit "Add wine" %>
	    </div>

			<%= token_tag %>

		<% end %>
	</div>
</table>	