<!-- Displays multiple notes. Rendered in user_notes/index and notes/index -->

<!-- shows correct image depending on style of wine -->
<% if @wine.style.downcase == "sparkling" %>
	<% bottle_url = "/assets/champagne.jpg" %>
<% elsif @wine.style.downcase == "red" %>
	<% bottle_url = "/assets/red.jpg" %>
<% elsif @wine.style.downcase == "white" %>
	<% bottle_url = "/assets/white.jpg" %>
<% elsif @wine.style.downcase == "rose" %>
	<% bottle_url = "/assets/rose.jpg" %>
<% elsif @wine.style.downcase == "sweet" %>
	<% bottle_url = "/assets/sweet.jpg" %>
<% end %>

<div class="small-3 columns">
	<%= image_tag(bottle_url, :class => "showImage") %>
</div>
<div class="small-6 columns">
	<div class="wine_links">
		<a class="wine_link"><%= @wine.style.titleize %></a>
		<a class="wine_link"><%= @wine.region %></a>
		<a class="wine_link"><%= @wine.country %></a>
		<a class="wine_link"><%= @wine.grape %></a>
		<a class="wine_link"><%= "#{@wine.window_start}–#{@wine.window_end}" %></a>
	</div>
	<div class="wineDetails">
		<h3 class="wineName"><%= @wine.producer %></h3>
		<h3 class="wineName"><%= "#{@wine.name} #{@wine.vintage}" %></h3>
	</div>
</div>






