<!-- displays wines index. Rendered in both wines and user_wines views -->
<div class="row">
	<div class="small-12 columns list_container">
		<% @wines.each do |wine| %>
		<!-- combines different elements of wine details -->	
		<% wine_name = "#{wine.name} #{wine.vintage}"	%>
		
			<!-- establishes and sets the quantity of each wine -->
			<% if current_user %>
				<% quantity = wine.bottles.where(:user => current_user, :drunk => false).count %>
			<% else %>
				<% quantity = wine.bottles.where(:drunk => false).count %>
			<% end %>	
				
			<!-- displays different bottle image depending on the style of wine -->
			<% if quantity > 0 %>
				<% if wine.style.downcase  == "sparkling" %>
					<% style_url = "/assets/champagne.jpg" %>
				<% elsif wine.style.downcase  == "red" %>
					<% style_url = "/assets/red.jpg" %>
				<% elsif wine.style.downcase  == "white" %>
					<% style_url = "/assets/white.jpg" %>
				<% elsif wine.style.downcase  == "rose" %>
					<% style_url = "/assets/rose.jpg" %>
				<% elsif wine.style.downcase  == "sweet" %>
					<% style_url = "/assets/sweet.jpg" %>
				<% end %>

				<div class="wines_container">
					<div class="wines_content">
						<div class="wines_image_container small-3 columns">
							<%= image_tag(style_url, size: "55x55", class: "wines_image") %>
						</div>					
						<div class="wines_details small-9 columns">
							<div class="wines_words_container">
								<a class="wines_region wine_link"><%= wine.region %></a>
								<a class="wines_country wine_link"><%= wine.country %></a>
								<a class="wines_window wine_link"><%= "#{wine.window_start}–#{wine.window_end}" %></a>
								<h3 class="wines_producer"><%= wine.producer %></h3>
								<h3 class="wines_name"><%= wine.name %> <%= wine.vintage %></h3>
							</div>
							<%= link_to user_wine_path(wine) do %>
								<div class="display_wine_link_container">
									<h4 class="display_wine_link">View wine details</h4>	
								</div>
							<% end %>		
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>	