<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row" id="topNav">
      <div class="small-10 small-offset-1 columns">
         <div class="contain-to-grid sticky">   
          <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
              <li class="name">
                <h1><a href="/">CellarBook</a></h1>
              </li>
               <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                <!-- <li class="has-form">
                  <div class="row collapse">
                    <div class="large-8 small-9 columns">
                      <input type="text" placeholder="eg, wine, region, user">
                    </div>
                    <div class="large-4 small-3 columns">
                      <a href="#" class="alert button expand">Search</a>
                    </div>
                  </div>
                </li> -->
                <li>
                  <a><%= link_to 'Add wine', new_wine_path %></a>
                </li>

                <% if current_user %>
                  <ul class="right">
                    <li class="active"><%= link_to 'Log out' , sessions_path , method: :delete, data: {confirm: 'Are you sure?'} %></li>
                  </ul>
                <% else %>           
                  <ul class="left">
                    <li><a href="/sessions/new">Sign in</a></li>
                  </ul>
                  <ul class="right">
                    <li class="active"><a href="/users/new">Sign up</a></li>
                  </ul>
                <% end %>  
              </ul>

              <!-- Left Nav Section -->
              <ul class="left">
                <li><a href="/wines">Wines</a></li>
                <li><a href="/notes">Notes</a></li>
              </ul>
            </section>
          </nav>
         </div>
        </div> 
      </div>
  
      <div class="row" id="subNav">
        <div class="small-10 small-offset-1 columns">  
         <% if current_user %>

            <% if controller_name == "user_wines" %>
              
              <%= render "/partials/user_wines_subnav" %>

            <% elsif controller_name == "user_notes" %>

              <%= render "/partials/user_notes_subnav" %> 

            <% else %>

              <%= render "/partials/unmarked_subnav" %>   

            <% end %>

         <% end %>
        </div>
      </div>

      <!-- <div class="row" id="title">
        <div class="small-10 small-offset-1 columns">   
          <h5><%= @title %></h5>
        </div>
      </div> -->

      <%= yield %>
     
    </body>
   </div>
  </div>  
</html>
